{
  "extends" : "wordpress",
  "rules" : {
    "eqeqeq" : "error",
    "no-caller" : "error",
    "no-eq-null" : "error",
    "no-undef" : "error",
    "no-unused-expressions" : "error",
    "no-unused-vars" : "error"
  }
}
