{
  "extends" : "wordpress",
  "rules" : {
    "align": "value",
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": "var",
        "next": "return"
      }
    ]
  }
}
